/* Your styles go here */
@import "~bootstrap/dist/css/bootstrap.min.css";



body {
  background-color: #f9f9f9;
}

.jumbotron {
    background-image: url("/images/butterfly.png");
    width: 100%;
    height: 300px;
    float: right;
    
  }

.jumbotron-text {
    position: absolute;
    margin-left: 500px;
    padding-top: 90px;
    font-size: 3.1rem;
    color: rgb(102, 82, 102);
    font-family: 'Dongle', sans-serif;
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Jacques Francois Shadow', cursive;
    overflow-wrap: normal;

    
  }

.wrapper {
    margin-left:auto;
    margin-right:auto;
  }

a {
  color: #fff;
  text-decoration: none;
}


#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #cdafda;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #FFCBEF;
}

.heading {
  font-size: 3.5rem;
}

.heading, .reviews {

  display: inline-block;
  object-fit: cover;


}


.h1 {
  font-size: 3.5rem;
  color: #654c6e;
}


.wrap {
  float: right;
}

.text {
  font-size: 1.5rem;
  text-align: left;
  color: #654c6e;
}


.personaltrainer1, .personaltrainer2 {
  display: inline-block;
}

.div1 {
  display: inline-block;
}

.personaltrainer2, .personaltrainer3 {

position: relative;
}



.personaltrainer1 > img {
  border: 5px solid rgb(48, 39, 54);
  
}

.personaltrainer2, .personaltrainer3 {
  border: 5px solid rgb(48, 39, 54);
  border-top: none;
  position: relative;
  top: 150px;
}

.pto {
  font-size: 1.5rem;
  color: #654c6e;
}


.payment > img {
  border: 5px solid #2f2533;
  position: relative;
  width:95%;
  height: auto;

}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


.amenities1  {
  padding-left: 150px;
  position: relative;
  display: inline-block;
}

.amenitiy {
  padding-top: 150px;
}


.card-text {
  font-size: 1.5rem;
  padding-top: 25px;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.schedule > img {
  display: inline-block;
  object-fit: cover;
  width: 80%;
}

.schedule, .amenityfont {
  color: #514157;
}


body {
  font-size: 16px;
  background: #f9f9f9;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
h2 {
  text-align: center;
  text-decoration: underline;
}
form {
  width: 300px;
  background: #fff;
  padding: 15px 40px 40px;
  border: 1px solid #ccc;
  margin: 50px auto 0;
  border-radius: 5px;
}
label {
  display: block;
  margin-bottom: 5px
}
label i {
  color: #999;
  font-size: 80%;
}
input, select {
  border: 1px solid #ccc;
  padding: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
}
.row {
  padding-bottom: 10px;
}
.form-inline {
  border: 1px solid #ccc;
  padding: 8px 10px 4px;
  border-radius: 2px;
}
.form-inline label, .form-inline input {
  display: inline-block;
  width: auto;
  padding-right: 15px;
}
.error {
  color: red;
  font-size: 90%;
}
input[type="submit"] {
  font-size: 110%;
  font-weight: 100;
  background: #006dcc;
  border-color: #016BC1;
  box-shadow: 0 3px 0 #0165b6;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: #0165b6;
}

.contactinfo {
  background-color: #483e4d;
  color: #e9dae4;
}

.btn {
  border: 2px solid #ffffff;
  color:#ceb8c7
}


/*tablet/md Version*/

@media (max-width: 910px) {

  body {
    background-color: #fdf0f0;
  }

  .jumbotron-text {
    display: none;
  }

  .jumbotron {
    background-image: none;
  }

  .jumbotron > img {
    width: 450px;
    height: 500px;
    margin-left: auto; 
    margin-right: auto;
    display: block;
    
  }

  .heading {
    padding-top: 150px;
    font-size: 1.2rem;
    color: #654c6e;
  }

  .menu__box {
    position:absolute;
    top:30px;
    z-index:10;
    width:100%;
}

.reviews > img {
  width: 100%;
  height: auto;
  object-fit: cover;

}

.magazine {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.personaltrainer {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-top: 100px;
}

.personaltrainer2, .personaltrainer3 {
  border: 5px solid rgb(48, 39, 54);
  border-left: none;
  position: relative;
  top: 0px;
}


.payment > img {
  border: 5px solid #2f2533;
  position: relative;
  object-fit: cover;

}

.card-text {
  font-size: 1rem;
  padding-top: 0;
}

.container {
  padding-top:  150px;
}

.schedule > img {
  display: inline-block;
  object-fit: cover;
  width: 80%;
}

}







@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #2f2533;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 16px sans-serif;
  padding: 35px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}


.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); 
  -webkit-transform:scale(1.1);
}

.footer-distributed p.footer-links a:hover{text-decoration:underline;
}





/*Mobile Version*/


  @media (max-width: 600px) {


    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }

    .personaltrainer1 > img {
      width: 100%;
      height: auto;
      object-fit: cover;
    padding-top: 0px;
    
    }


    .personaltrainer2 > img {
      width: 100%;
      height: auto;
      object-fit: cover;
      position: relative;
      border: none;
    }


    .personaltrainer3 > img {
      width: 100%;
      height: auto;
      object-fit: cover;
      position: relative;
      border: none;
      
    
    }


    h1 {
      padding-top: 25px;
      color: #483e4d;
    }


    body {
      background-color: #fdf0f0;
    }

    .jumbotron-text {
      display: none;
    }

    .jumbotron {
      background-image: none;
    }

    .jumbotron > img {
      width: 450px;
      height: 500px;
      margin-left: auto; 
      margin-right: auto;
      display: block;
      padding-left: 35px;
      
    }

    .heading {
      padding-top: 150px;
      text-align: center;
      font-size: 1rem;
    }

    .menu__box {
      position: absolute;
      top:30px;
      z-index:10;
      width:100%;
}

.reviews > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.h1 {
  text-align: center;
  color: #8A4EA2;
}

.text {
  color: #654c6e;
  text-align: left;
}

.magazine > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.payment > img {
  border: 5px solid #2f2533;
  position: relative;
  object-fit: cover;
  

}

.schedule > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
}

  }

